*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.div__container--citizen{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    gap: 10px;
}
.div__getBanned{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    gap: 10px;
}